@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
body,
html {
  overflow-x: hidden;
  background-color: #1e1e1e;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

header {
  background: linear-gradient(180deg, #000 16.1%, rgba(0, 0, 0, 0) 107.2%);
}
.grad-btn {
  border-radius: 30px;
  background: linear-gradient(91deg, #dd43f2 1.09%, #2618d3 99.64%);
}
